$primary-color: #d7263d;

$primary-gradient: linear-gradient(
  90deg,
  #ef7b45 0%,
  #d84727 50%,
  #a4243b 100%
);

$second-color: #f46036;

$third-color: #2e294e;

$success-color: #229631;

$base-url: "/images/";

$grey: #e0e0e0;

$orange: #ef7b45;

$pink-red: #a4243b;
