.home-container {
  margin: 0;
  padding: 0;
  height: 546px;
  width: 100%;
}

.welcome-container {
  background-image: url("../../assets/home_main.jpg");
  background-position: bottom;
  background-size: cover;
  font-size: 22px;
}

.home-col {
  background: rgb(20, 24, 19, 0.6);
}

.home-message-container {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-slogan {
  color: rgb(236, 234, 234);
  font-size: 150%;
}

.about-image-message {
  background-color: $pink-red;
  padding: 2% 3%;
  color: white;
  font-size: 30px;
}
.about-image-logo {
  background-color: $orange;
}
.about-image-share {
  border-radius: 15px;
}

.about-container {
  background-color: $grey;
}

.column-container {
  max-width: 80%;
  height: 90%;
}

.about-text-container {
  height: 30%;
}

.about-images-container {
  background-color: white;
  height: 70%;
  border-radius: 15px;
}

.about-image {
  width: 25%;
  height: 80%;
  border-radius: 12px;
}

.products-container {
  background-color: rgb(244, 140, 6, 0.4);
}
